@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
</head>
<body>
    <div>
        <div class=" text-center">
            <h3> We are going to have a party</h3>
            <h4>And YOU are invited</h4>
            <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
        </div>
    </div>
    click <a asp-action="RsvpForm">here</a> um das Form auszufühlen.
</body>
</html>